.test {
  margin-left: 0.5rem;
}
.create-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.comment-text-area {
  resize: none;
  min-width: 50%;
  min-height: 5rem;
  padding: 0.1rem;
  height: fit-content;
  overflow: hidden;
}
.comment-button-error {
  display: flex;
  flex-direction: column;
  height: 3.5rem;
}

.comment-post-button {
  width: 50%;
}

.commment-section {
  height: 10rem;
}
.comment-invalid-error-message {
  font-size: 0.7rem;
  color: red;
  display: none;
}

.comment-invalid-error-message:before {
  font-size: 1rem;
  color: red;
}
.comment-post-button {
  opacity: 1;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  height: 2rem;
}
.comment-post-button:disabled {
  opacity: 0.5;
  cursor: default;
}
.comment-post-button:hover:disabled + .comment-invalid-error-message {
  display: inline;
}

.comment {
  list-style: none;
  margin-top: 1rem;
  background-color: rgb(230, 230, 230);
  margin-right: 1rem;

  margin-bottom: 0.5rem;
  border-radius: 3px;
  overflow-wrap: break-word;
}
.comment:last-child {
  margin-bottom: 1rem;
}
.comment-user {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: fit-content;
}
.comment-user-admin {
  color: Red;
  font-size: 0.8rem;
  padding-left: 0.3rem;
}
.comment-username {
  font-weight: bold;
  text-indent: 0.5rem;
  font-size: 1rem;
}
.comment-comment {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  width: 80%;
}
.comment-username-date-created-separator {
  color: rgb(160, 160, 160);
}

.comment-delete-button {
  background: none;
  border: none;
  margin-left: auto;
  margin-right: 0.5rem;
  padding-top: 0.1rem;
}
.comment-delete-button:hover {
  cursor: pointer;
}

#button-load-more-comments {
  background-color: rgb(252, 181, 77);
  border: none;
  border-radius: 9px;
  height: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

