.confirm-email-div {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm-email-header {
  display: inline-block;
  text-wrap: balance;
  margin-bottom: 2rem;
  font-size: 48px;
}
.confirm-email-message {
  width: 75%;
}
