.food-display {
  position: relative;
  height: auto;
  padding-top: 16vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
.food-display-find-food {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.div-option-grid-flex {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 35%;
  padding-top: 0.4rem;
}
.div-option-grid-flex:hover {
  cursor: pointer;
}
#search-form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: 2.2rem;
  border: 1px solid #969696;
  border-radius: 25px;
}

#search-bar {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  outline: none;
  position: relative;
  align-items: center;
  text-indent: 1rem;
  border: none;
  border-radius: 25px;
}

#search-form:focus-within {
  border: 1px solid black;
}

.food-items-flex {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.food-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  column-gap: -12rem;
}
.map-food-items {
  margin-top: 1rem;
  min-height: 22rem;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  max-width: 40rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  color: #333;
}
.map-food-items-comments {
  margin-top: 1rem;
  min-height: 22rem;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  max-width: 40rem;
  width: 95%;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: #333;

  box-shadow: 2px 4px 10px 2px hsl(0deg 0% 0% / 0.38);
}

.food-img-info-divider {
  width: 50%;
}

#food-img {
  position: relative;
  width: 90%;
  height: 90%;
  min-height: 15rem;
  margin-top: 0.5rem;
  margin-bottom: 8rem;
  margin-left: 0.5rem;
  border-radius: 9px;
  background-image: url("../images/imageunv.png");
}
.ul-food-items-info {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
}
.ul-food-items-info {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
}

.food-header {
  overflow-wrap: break-word;
  height: auto;
  line-height: 1.8rem;
  padding-top: 0.5rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.li-icon-info-div {
  display: flex;
  font-weight: bold;
  overflow-wrap: break-word;
}

.food-type-price-info {
  overflow-wrap: break-word;
  width: 85%;
}
.price-meal-wrap {
  display: inline-block;
}
#food-description-box {
  max-width: 80%;

  height: auto;
  min-height: 4.5rem;
  border-radius: 3px;
  border: 1px solid #333;
}
#food-description-box-text {
  padding: 0.2rem;
  overflow-wrap: break-word;
}


.delete-food-button {
  z-index: 1;
  position: absolute;
  background-color: rgb(255, 0, 0, 1);
  border: 0px;
  color: white;
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  text-align: center;
}
.delete-food-button:hover {
  transition: 0.6s;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  box-shadow: 0 0px 25px rgb(255, 0, 0);
}
.rating {
  display: flex;
  padding-left: 0.3rem;
}
.star-container {
  margin: -0.5rem;
}
.div-comments {
  display: flex;
}

.div-comments .comments-amount {
  font-weight: bold;
  font-size: 1.5rem;
  border: 0px;
  background: none;
}
.show-comments {
  font-weight: bold;
  font-size: 1rem;
  border: 0px;
  background: none;
  margin-bottom: 1rem;
}

.comments-show-hide {
  vertical-align: middle;
}

.comment-collapse-button {
  display: flex;
  border: 0px;
  background: none;
  margin: auto;
}

@media (max-width: 50em) {
  .show-comments {
    margin-right: 1rem;
  }
}
