.popup-modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.548);

  height: 100vh;
  width: 100vw;
  z-index: 111111;
}
.popup-modal {
  height: 17rem;
  background: rgb(255, 255, 255);
  width: 30rem;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 4px 10px 2px hsl(0deg 0% 0% / 0.38);
  border-radius: 9px;
}
#popup-modal-div {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
#popup-modal-text {
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-align: center;
}
#popup-modal-close-button {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(252, 181, 77, 0.8);
  border-radius: 9px;
  width: 25%;
  height: 10%;
  border: none;
  font-size: 1rem;
}
#popup-modal-close-button:hover {
  background-color: rgb(252, 181, 77);
}
@media (max-width: 31.25em) {
  .popup-modal {
    width: 95%;
  }
}
